---
import CloseIcon from "./CloseIcon.astro"
---

<nav
  class='text-black invisible transition-all ease-in-out absolute right-0 top-0 h-screen w-[60%] max-w-xs py-6 bg-white px-8'
  id='hamburger-menu'
>
  <div class='flex justify-end'>
    <button id='close-icon' class='hover:bg-black/5 p-2'><CloseIcon /></button>
  </div>
  <ul
    class='flex flex-col text-sm gap-2 py-3 [&>li>a]:inline-block hover:[&>li>a]:bg-black/5 [&>li>a]:w-full [&>li>a]:transition-colors [&>li>a]:font-medium [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded'
  >
    <li><a href='#model-s'>Model S</a></li>
    <li><a href='#model-3'>Model 3</a></li>
    <li><a href='#model-x'>Model X</a></li>
    <li><a href='#model-y'>Model Y</a></li>
    <li><a href='#solar-roof'>Solar Roof</a></li>
    <li><a href='#powerwall'>Powerwall</a></li>
    <li><a href='#'>Shop</a></li>
    <li><a href='#'>Account</a></li>
    <li>
      <a href='#'>
        United States
        <br />
        <span class='font-normal text-gray-600 text-xs'>English</span>
      </a>
    </li>
  </ul>
</nav>
