---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro'
---

<Layout title="Tesla landing.">
	<main>
		<NavBar />
		<HeroSection />
		<HeroSection />
	</main>
</Layout>

