---
import NavBar from "../components/NavBar.astro"
import Layout from "../layouts/Layout.astro"
import HeroSection from "../components/HeroSection.astro"
import ProductSection from "../components/ProductSection.astro"
---

<Layout title='Tesla landing.'>
  <NavBar />
  <main
    class='snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth'
  >
    <div class='snap-center'>
      <HeroSection />
    </div>
    <div class='snap-center'>
      <ProductSection
        id='model-3'
        model='Model 3'
        subtitle='Starting at $32,740'
        textButton='Explore Inventory'
        secondTextButton='Custom Order'
        image='/model-3.webp'
      />
    </div>
    <div class='snap-center'>
      <ProductSection
        id='model-y'
        model='Model Y'
        subtitle='Starting at $40,240'
        textButton='Explore Inventory'
        secondTextButton='Custom Order'
        image='/model-y.webp'
      />
    </div>
    <div class='snap-center'>
      <ProductSection
        id='model-s'
        model='Model S'
        subtitle='Explore Inventory'
        textButton='Custom Order'
        secondTextButton='Demo Drive'
        image='/model-s.webp'
      />
    </div>
    <div class='snap-center'>
      <ProductSection
        id='model-x'
        model='Model X'
        subtitle='Explore Inventory'
        textButton='Custom Order'
        secondTextButton='Demo Drive'
        image='/model-x.webp'
      />
    </div>
    <div class='snap-center'>
      <ProductSection
        id='solar-roof'
        model='Solar Roof'
        subtitle='Produce Clean Energy From Your Roof'
        textButton='Order Now'
        secondTextButton='Learn More'
        image='/solar-roof.webp'
      />
    </div>
    <div class='snap-center'>
      <ProductSection
        id='powerwall'
        model='Powerwall'
        textButton='Order Now'
        secondTextButton='Learn More'
        image='/powerwall.webp'
      />
    </div>
  </main>
</Layout>
