---
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>La Velada del Año - Landing page</title>
  </head>
  <body>
    <header></header>

    <main>
      <section
        id='boxers'
        class='flex justify-between relative [&>div>img]:absolute [&>div>img]:bottom-0 [&>div>img]:w-auto h-screen pt-24 border-b border-white/10'
      >
        <div></div>
        <div></div>
      </section>
    </main>

    <footer></footer>
  </body>
</html>

<style is:global>
  body {
    background: #131313;
  }
</style>
