---
import CombatBox from "../components/CombatBox.astro"
import FightersSection from "../components/FightersSection.astro"
import InfoBox from "../components/InfoBox.astro"
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>La Velada del Año - Landing page</title>

    <link
      rel='preload'
      href='/fonts/boxing.woff2'
      as='font'
      type='font/woff2'
      crossorigin='anonymous'
    />
    <link
      rel='preload'
      href='/fonts/boxing-striped.woff2'
      as='font'
      type='font/woff2'
      crossorigin='anonymous'
    />
  </head>
  <body>
    <header class='relative'>
      <div
        class='md:absolute z-10 my-4 md:mt-0 top-7 w-full flex flex-col gap-1 justify-center items-center'
      >
        <img
          class='w-20 md:w-36 lg:w-64 h-auto'
          src='/logo.webp'
          alt='Logo de la Velada del Año 3'
        />
        <h1
          class='text-white text-md md:text-2xl lg:text-4xl font-bold font-boxing'
        >
          <span
            class='bg-clip-text text-transparent inline-block leading-relaxed bg-gradient-to-b from-gray-200 via-gray-400 to-gray-600'
            >La Velada del Año</span
          >
          <span class='text-yellow-300'>III</span>
        </h1>
      </div>
    </header>

    <main class='relative'>
      <FightersSection />
      <InfoBox />
      <CombatBox />
    </main>

    <footer></footer>
  </body>
</html>

<style is:global>
  body {
    background: #131313;
  }
  @font-face {
    font-family: "Boxing";
    src: url("/fonts/boxing.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: "Boxing Striped";
    src: url("/fonts/boxing-striped.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
  }
</style>
