<div
  id='combat'
  class='absolute bottom-48 z-50 mx-auto left-1/2 -translate-x-1/2 flex flex-col gap-y-24 opacity-0 invisible'
>
  <div class='text-white bg-black px-4 text-center pt-4 pb-2'>
    <h3 class='font-boxing text-7xl'>FERNANFLOO</h3>
  </div>
  <span
    class='absolute block left-1/2 top-1/2 mx-auto -translate-x-1/2 -translate-y-1/2 font-boxing text-7xl text-yellow-300 [text-shadow:2px_2px_0px_red,4px_4px_0px_orange,6px_6px_0px_black]'
    >vs</span
  >
  <div class='text-black bg-white px-4 text-center pt-4 pb-2'>
    <h3 class='font-boxing text-7xl'>LUZU</h3>
  </div>
</div>
