<div
  id='info'
  class='block lg:absolute lg:left-1/2 lg:-translate-x-1/2 z-50 lg:bottom-48'
>
  <div class='flex flex-col'>
    <div class='text-black bg-white px-4 text-center pt-4 pb-2'>
      <h2 class='font-boxing text-7xl'>1 de JULIO</h2>
    </div>
    <div class='text-white bg-black px-4 text-center pt-4 pb-2'>
      <a
        class='font-boxing text-[46px] hover:contrast-150 hover:scale-105 inline-block'
        href='https://twitch.tv/ibai'
        target='_blank'
        rel='noopener noreferrer'
      >
        <span class='text-purple-200'>twitch.tv/</span><span
          class='text-purple-700'>ibai</span
        >
      </a>
    </div>
    <div class='text-white bg-sky-700 px-4 text-center pt-2 pb-1'>
      <a
        class='font-boxing text-4xl hover:contrast-150 hover:scale-105 inline-block'
        href='/#'
        rel='noopener noreferrer'>Comprar Entradas</a
      >
    </div>
  </div>
</div>
